.layout {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 250px;
    min-height: 100vh;
    background-color: black;
    font-family: Arial, sans-serif;
}

@media screen and (max-width: 1265px) {
    .layout {
        padding-left: 52px;
    }
}

@media screen and (max-width: 768px) {
    .layout {
        padding-left: 0;
    }
}